/* src/styles/login.css */

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

/*CSS -> 자바스크립트 순서로 정리해둠*/

* {
  color: #000000;
}

/*최상위 설정 모음, 어지간하면 터치 X*/

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
  background-color: #ffffff;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/*------------------------구분선------------------------*/

.join-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px 20px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  top:30px;
}

.join-header {
  text-align: center;
  margin-bottom: 30px;
}

/*------------------------구분선------------------------*/

/*로고 영역*/
.join-home-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.join-logo-img { /*팀로고*/
  width: 70px;
  height: 50px;
  position: relative;
  left: -100px;
}

.join-logo-text { /*Five_sense*/
  font-size: 24px;
  font-weight: bold;
  color: #24AFCF;
  font-family: 'Pretendard-Regular';
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  position: relative;
  left:20px;
  top: -65px;
}

/*------------------------구분선------------------------*/
.join-form {
  display: flex;
  flex-direction: column;
  position: relative;
  top:-20px;
}

.join-form-group {
  margin-bottom: 20px;
}

.join-form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.join-form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.join-form-group input[type="email"] {
  box-sizing: border-box;
  height: 40px; /* 다른 input과 동일한 높이 설정 */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.join-login-link {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.to-login-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.to-login-text {
  color: #007bff;
  font-size: 14px;
  text-decoration: underline;
}

.submit-join-btn {
  padding: 12px;
  background-color: #24AFCF;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}
